<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>

<body>
    What chat room would you like to enter?<br>
    <input id="room-name-input" type="text" size="100" value="PyCon PH 2023"><br>
    <input id="room-name-submit" type="button" value="Enter">

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '{% url 'chat:index' %}' + roomName + '/';
        };
    </script>

    <br>
    {% if user.is_authenticated %}
        Hello {{ user }}
        <br>
        <a href="{% url 'admin:logout' %}?next={{ request.get_full_path }}">Log out</a>
    {% else %}
        <a href="{% url 'admin:login' %}?next={{ request.get_full_path }}">Log in</a>
    {% endif %}

</body>